@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  font-family: font-family: 'Oswald', sans-serif;
}

body {
    margin: auto;
    max-width: 1100px;
  }

  header {
    background-color: rgb(0, 0, 0);
    display: flex;
    margin-top: 5px;
  }
  
  ul {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
  }
  
  li {
    display: inline;
    align-content: center;
    color: rgb(229, 229, 229);
    padding-left: 25px;
  }

  nav {
    display: flex;
    width: 80%;
    vertical-align: top;
    align-items: center;
  }
  
  #img-title {
    margin: 8px;
    padding-left: 60px;
  }
  
  #hero {
    display: block;
    margin: auto;
    padding: 30px;
  }
  
  .featuredSection {
    display: flex;
    margin: 30px auto;
    padding-left: 69px;
    padding-right: 69px;
    align-items: center;
    justify-content: space-between;
  }

  .footBanner {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .section {
    margin-left: 50px;
  }

  button {
    background-color: black;
    color: white;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 5px;
  }

  h2 {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 5px;
  }

  h2.featuredHeading {
    padding-bottom: 10px;
  }

  footer {
    height: 85px;
    background-color: rgb(0, 0, 0);
  }